<h1>eventos</h1>
<button [disabled]="btnEstado">Enviar -> </button>
<button (click)="toggleButton()"> toggle btn</button>
<p> edad = {{age}}</p>
<button (click)="increaseAge()">age ++</button>

<hr>
<div class="box" (scroll)="onScroll($event)">
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eos vitae corporis sed architecto sint eaque, ullam aperiam explicabo harum, reprehenderit maxime neque quod, culpa quam nostrum dolorum. Facilis iure labore ea ipsa quis, corrupti vel accusamus voluptatem ipsam in corporis sequi nobis eligendi, quidem blanditiis odit sapiente voluptates. Minima!</p>
</div>
<hr>
<input type="number" min="18" max="50" required #nameInputAge="ngModel"  [(ngModel)]="person.age">
<p>edad Valida -> {{nameInputAge.valid}}</p>

<hr>
<input type="text" required #nameInput="ngModel"  [(ngModel)]="name">

<p>valid: {{  nameInput.valid }}</p>
<hr>
<input type="text" [value]="name" (keyup)="changeName($event)">
esto es igual
<input type="text" [(ngModel)]="name">
<hr>

<button [disabled]="btnEstado"> Enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<progress max="100" [value]="person.age"></progress>
<hr>

<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<h3>3 + 3 = {{ 3+3 }}</h3>
<h3>hola soy {{ name }}</h3>
<img width="200" src="{{ img }}" alt="">
<hr>

<hr>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Nicolas'"> Soy Nicolas</p>
<p *ngIf="person.name === 'Juan'; else elseBlock"> Soy Juan</p>
<ng-template #elseBlock>
  <p>Bloque else</p>
</ng-template>

<hr>
<input type="text" required [(ngModel)]="newName">

<button (click)="addName()" >Add name</button>

<ul>
  <li *ngIf="names.length === 0"> No Hay Nombres</li>
  <li *ngFor="let name of names; index as i">{{i}} -{{name}}
    <button (click)="deleteName(i)" >delete name</button>
  </li>
</ul>

<h1>*ngFor obj</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image" width="250">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>

<hr>
<h1>[ngSwitch]</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Nicolas'">
    NICO
  </p>
  <p *ngSwitchCase="'Julian'">
    Julian
  </p>
  <p *ngSwitchCase="'Miguel'">
    Miguel
  </p>
  <p *ngSwitchDefault>
    No hace Match
  </p>

</div>

<hr>

<h1>Class & styles</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">
  ELcampo es required
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal' ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, necessitatibus.</p>
<div class="styleImg">
  <div>
    <input type="number" required [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.%]="widthImg" width="200" src="{{ img }}" alt="">
  </div>
</div>
<hr>
<h1>ngClass & ngStyles</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
  [ngClass]="{
    'valid':nameInput4.valid,
    'invalid':nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  ELcampo es required
</p>

<div class="styleImg">
  <input type="number" [(ngModel)]="box.width">
  <input type="number" [(ngModel)]="box.height">
  <input type="color" [(ngModel)]="box.background">
</div>
<div>
  <div [ngStyle]="{
    'width.px':box.width,
    'height.px':box.height,
    'background':box.background,
    'display':'block'
  }"></div>
</div>
<hr>

<hr>
<div id="formulario">
  <h1>Formulario</h1>
  <form #myForm="ngForm" (ngSubmit)="onRegister()">
    <div class="input-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" #nameForm="ngModel" name="name" required [(ngModel)]="register.name">
      <p class="requerido" [ngClass]="{
        'valid':nameForm.valid,
        'invalid':nameForm.invalid
      }">Requerido</p>
    </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" #emailForm="ngModel" name="email" required [(ngModel)]="register.email">
      <p class="requerido" [ngClass]="{
        'valid':emailForm.valid,
        'invalid':emailForm.invalid
      }">Requerido</p>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" #passwForm="ngModel" name="password" required [(ngModel)]="register.password">
      <p class="requerido" [ngClass]="{
        'valid':passwForm.valid,
        'invalid':passwForm.invalid
      }">Requerido</p>
    </div>
    <button [disabled]="myForm.invalid" [ngClass]="{
      'valid':myForm.valid,
      'invalid':myForm.invalid
    }" type="submit"> Registrar</button>
  </form>
</div>
