<!-- <h3>componente 1</h3>
<h1> estaticamente </h1>
<app-img img="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dragon-ball-super-goku-ultra-instinto-1549463584.jpg?crop=1.00xw:0.893xh;0,0&resize=1200:*" ></app-img>

<hr>

<h3>componente 2</h3>
<h1> dinamicamente </h1>
<p>URL: <input type="text" [(ngModel)]="imgParent"></p>
<hr>
<p>eliminar component</p>
<button (click)="toggleImg()">Toggle img</button>
<p>{{ showImg }}</p>
<hr>
<app-img *ngIf="showImg" (loaded)="onloaded($event)" [img]="imgParent"></app-img>

<hr>
<h3>Componente para producto</h3>
 -->
<!-- <app-nav></app-nav> -->
<a href="https://damp-spire-59848.herokuapp.com/docs/" target="_blank">api doc</a>
<hr>
<button (click)="createUser()">Create User</button>
<p><a href="./assets/files/texto.txt" download>Descargar</a></p>
<p>
  <button (click)="downloadPdf()">Descargar pdf</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf="imgRta" [src]="imgRta" alt="imgRta">
</p>
<hr>
<router-outlet></router-outlet>
<!--
<app-products></app-products> -->
