/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&amp;display=swap');
@import url(./styles/reset.css);

*{
  font-family: 'Quicksand', sans-serif;
}

body{
  background: rgb(39, 45, 56);
  color: white;
}

.product--grid{
  app-img{
    img{
      border-radius: 10px;
    }
  }
}
